$max-width: 1400px;

// background colors used in the template
$navbar-background-color: #fff;
$page-background-color: #e5e5e5;

// different colors used in the template
$almost-black: #222222;
$matte-black: #393939;

$light-grey: #ececec;
$medium-grey: #999999;
$dark-grey: #5f5f5f;

$forest-green: #439b83;
$light-theme-green: #0a8f73;

$title-font-size: 20px;

// status colors
$paid-color: #64e1c3;
$inprogress-color: #f16500;
$failed-color: #fe1b1b;
